<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Snippets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="bg-light p-5 rounded-lg m-3">

    <h1>Your Snippets</h1>
    <ul class="list-group" id="snippets"></ul>
    <h1>Create New Snippet</h1>
    <form id="snippet" class="m-0 border-0">
        <div class="mb-3">
            <label for="title" class="form-label">Email address</label>
            <input type="text" id="title" value="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="fileName" class="form-label">File Name</label>
            <input type="text" id="fileName" value="fileName" class="form-control">
        </div>
        <div class="mb-3">
            <label for="fileContent" class="form-label">File Content</label>
            <textarea id="fileContent" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" id="comment" class="form-control"/>
        </div>
        <div class="mb-3">
            <input type="submit" id="formSubmit" class="form-control"/>
        </div>

    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script type="module">
    import { snippet_auth, getMySnippets, delSnippet, createSnippet, createFile, createComment} from "{codeSnippetApiURL}/js/snippet.js"

    snippet_auth("{codeSnippetApiURL}");
    getMySnippets().then((snippets) => {
        let snippetPane = document.getElementById("snippets");
        for (let snippet of snippets) {
            let li = document.createElement("li");
            li.classList.add("list-group-item");
            let a = document.createElement("a");
            let delSnip = document.createElement("a");
            delSnip.href = "#";
            delSnip.classList.add("fa-solid","fa-trash","snip-action","fa-xl","snip-delete");
            delSnip.addEventListener("click", () => {
                delSnippet(snippet.id).then(deleted => {
                    if (deleted) li.remove();
                })

            });

            let run = document.createElement("a");
            run.href = "#";
            run.classList.add("fa-solid","fa-play","snip-action","fa-xl","fa-shake","snip-play");

            run.addEventListener("click", () => {
                window.location="https://java.miage.dev/?snipId="+snippet.id;
            });

            a.href = "/snippet/" + snippet.id;
            a.innerHTML = snippet.title;
            li.appendChild(a);
            li.appendChild(delSnip);
            li.appendChild(run);
            snippetPane.appendChild(li);
        }
    });


    document.getElementById("snippet").addEventListener("submit", function (evt) {
        evt.preventDefault();
        let title = document.getElementById("title").value;
        let fileName = document.getElementById("fileName").value;
        let fileContent = document.getElementById("fileContent").value;
        let comment = document.getElementById("comment").value;
        let files = [createFile(fileName, fileContent)];
        let comments = [createComment(comment)];

        createSnippet(title, files, comments).then(response => {
            if(response.ok) {
                console.log(response);
                location.reload();
            }
            else{
                alert("something when wrong " + response.blob());
            }
        });
    });


</script>
</html>