
    <div class="mb-3">
        <label for="title" class="form-label">Snippet Title</label>
        <input type="text" id="title" value="title" class="form-control">
    </div>

    <div id="files-container">
        <div class="file-entry mb-3">

        </div>
    </div>

    <button type="button" id="add-file" class="btn btn-primary mb-3">Add File</button>

    <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="comment" id="comment" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <h2>Metadata</h2>
        <a href="#" id="add-meta" class="fa-solid fa-plus fa-xl"></a>

        <div class="row" id="meta-container">

        </div>

    </div>

